<h3>Student List</h3>
<div class="row">
    <div class="col-10">
        <div class="mb-3">
            <label for="searchByName" class="form-label">Search</label>
            <input type="text" class="form-control" id="searchByName" placeholder="Search by name"
                [(ngModel)]="searchByName" (input)="searchStudent()">
        </div>
    </div>
    <div class="col-2 d-flex align-items-end mb-3">
        <button class="btn btn-primary" (click)="createStudent()">New</button>
    </div>
</div>
<p>Date: {{currentDate | date: 'MMM dd YYYY'}}</p>
<table class="table" *ngIf="showList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age <button class="btn btn-primary" (click)="sortByAge()">sort</button></th>
            <th>Email</th>
            <th>Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of filteredStudent; let i = index" [ngClass]="i%2==0 ? 'even': '' ">
            <td>{{student.name | lowercase}}</td>
            <td>{{student.age}}</td>
            <td>{{student.email}}</td>
            <td>{{student.number | currency: 'INR': 'code': '1.1-2'}}</td>
            <td>
                <button class="btn btn-primary " (click)="deleteStudent(student.id)">Delete</button>
                <button class="btn btn-primary mx-2" (click)="goTo('student-details', student.id)">View</button>
                <button class="btn btn-primary" (click)="goTo('edit-student', student.id)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>